:root {
  --main-text-color: #757575;
  --header-color: #212121;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --portfolio-title-color: #212121;
  --logo-primary-color: #000000;
  --logo-accent-color: #2196f3;
  --bgc-button-filtr: #f5f4fa;
  --tipical-padding: 94px;
  --duration-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 0;
  color: var(--logo-accent-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration-timing-function), visibility var(--duration-timing-function);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration-timing-function);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill var(--duration-timing-function);
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__field {
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  outline: none;
  cursor: pointer;
  transition: border-color var(--duration-timing-function);
  color: var(--main-text-color);
}

.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input-cover {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--duration-timing-function);
}

.modal__input:hover + .modal__icon {
  fill: var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  cursor: pointer;
  transition: border-color var(--duration-timing-function);
}

.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__text:hover, .modal__text:focus {
  border-color: var(--accent-color);
}

.modal__field-check {
  margin-bottom: 30px;
}

.modal__check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__check-text .modal__check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: border-color var(--duration-timing-function);
}

.modal__check:checked + .modal__check-text .modal__check-icon {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
}

.modal__check:hover + .modal__check-text .modal__check-icon {
  border-color: var(--accent-color);
}

.modal__check:focus + .modal__check-text .modal__check-icon {
  border-color: var(--accent-color);
}

.modal__check-link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-left: 3px;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal__check-link {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 5px;
  }
}

.modal__send-btn {
  position: absolute;
  right: 125px;
  bottom: 40px;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: hidden;
  transition: background-color var(--duration-timing-function);
}

@media screen and (min-width: 1200px) {
  .modal__send-btn {
    right: 164px;
  }
}

.modal__send-btn:hover, .modal__send-btn:focus {
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.header__part {
  color: var(--logo-primary-color);
}

.menu-open-btn {
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border: transparent;
  background-color: transparent;
  transition: fill var(--duration-timing-function);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .sitenav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sitenav-list {
    display: flex;
    margin-left: 88px;
  }
}

.sitenav-list__item:not(:last-child) {
  margin-right: 50px;
}

.sitenav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color var(--duration-timing-function);
}

.sitenav-list__link:hover, .sitenav-list__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.sitenav-list__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contact-list__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  transition: color var(--duration-timing-function);
}

@media screen and (min-width: 1200px) {
  .contact-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  margin-right: 10px;
  fill: var(--main-text-color);
}

.contact-list__link:hover .contact-list__icon {
  fill: var(--accent-color);
}

.contact-list__link:focus .contact-list__icon {
  fill: var(--accent-color);
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  margin-left: auto;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  transition: fill var(--duration-timing-function);
}

@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
  transform: translateX(0);
  transition: transform var(--duration-timing-function);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  transform: translateX(100%);
}

.mob-menu__item + .mob-menu__item {
  margin-top: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color var(--duration-timing-function);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__link--current {
  display: block;
  color: var(--accent-color);
}

.mob-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-soc__list {
  display: flex;
  margin-top: 64px;
}

.mob-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-mob-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-tab.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-tab-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-Img1.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  transition: background-color var(--duration-timing-function);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: var(--tipical-padding);
    padding-bottom: var(--tipical-padding);
  }
}

.benefits__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
  }
}

.benefits__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits__item::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item::before {
    width: 270px;
  }
}

.icon-antenna::before {
  background-image: url(../images/antenna1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut1.svg);
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-top: 0;
    padding-bottom: var(--tipical-padding);
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.work__list {
  position: relative;
  display: flex;
  margin-left: -30px;
}

.work__item {
  position: relative;
  flex-basis: calc((100%-90px) / 3);
  margin-left: 30px;
}

.work__item + .work__item {
  margin-left: 30px;
}

.work__item::before {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  position: absolute;
  bottom: 27px;
  left: 50%;
  min-width: 205px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transform: translateX(-50%);
  color: #ffffff;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--tipical-padding);
    padding-bottom: var(--tipical-padding);
  }
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-cover {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team-cover__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.team-cover__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--main-text-color);
}

.team-soc__list {
  display: flex;
  justify-content: center;
}

.team-soc__item + .team-soc__item {
  margin-left: 10px;
}

.team-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: fill var(--duration-timing-function), background-color var(--duration-timing-function);
}

.team-soc__link:hover, .team-soc__link:focus {
  background-color: var(--accent-color);
}

.team-soc__icon {
  fill: #afb1b8;
}

.team-soc__link:hover .team-soc__icon {
  fill: #ffffff;
}

.team-soc__link:focus .team-soc__icon {
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--tipical-padding);
    padding-bottom: var(--tipical-padding);
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  margin-left: -30px;
}

.clients__item {
  width: 100%;
  margin-bottom: 30px;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--duration-timing-function), border var(--duration-timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer .container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer__main-contact {
    margin-bottom: 60px;
  }
}

.footer__part {
  color: #ffffff;
}

.address__list {
  margin-top: 20px;
}

.address__item {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  color: #ffffff;
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .soc-contact {
    margin-left: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .soc-contact {
    margin-left: 70px;
  }
}

.soc-contact__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.soc-contact__list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.soc-contact__item + .soc-contact__item {
  margin-left: 10px;
}

.soc-contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--duration-timing-function);
}

.soc-contact__link:hover, .soc-contact__link:focus {
  background-color: var(--accent-color);
}

.soc-contact__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-right: 0;
    margin-left: auto;
  }
}

.subscribe-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__title {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__cover {
    display: flex;
    align-items: baseline;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  transition: border-color var(--duration-timing-function);
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    min-width: 358px;
  }
}

.subscribe-form__input::placeholder {
  padding-left: 0;
}

.subscribe-form__input:hover, .subscribe-form__input:focus {
  border-color: #ffffff;
}

.subscribe-btn__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--accent-color);
  transition: background-color var(--duration-timing-function);
}

@media screen and (min-width: 1200px) {
  .subscribe-btn__btn {
    margin-left: 12px;
  }
}

.subscribe-btn__btn:hover, .subscribe-btn__btn:focus {
  background-color: #188ce8;
}

.subscribe-btn__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.examples {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .examples {
    padding-top: var(--tipical-padding);
    padding-bottom: var(--tipical-padding);
  }
}

.filtr-menu__list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filtr-menu__list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filtr-menu__list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filtr-menu__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filtr-menu__item:not(:last-child) {
  margin-right: 8px;
}

.filtr-menu__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
  color: var(--portfolio-title-color);
  background-color: var(--bgc-button-filtr);
  transition: color var(--duration-timing-function), background-color var(--duration-timing-function), border var(--duration-timing-function), box-shadow var(--duration-timing-function);
}

.filtr-menu__btn:hover, .filtr-menu__btn:focus {
  border: 1px solid #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: var(--accent-color);
}

.current__filtr {
  color: #ffffff;
  background-color: var(--accent-color);
}

.examples__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .examples__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.examples__item {
  width: 100%;
  margin-bottom: 30px;
  transition: box-shadow var(--duration-timing-function);
}

@media screen and (min-width: 768px) {
  .examples__item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .examples__item:nth-child(3n) {
    margin-right: 0;
  }
}

.examples__item:hover, .examples__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__top-cover {
  position: relative;
  overflow: hidden;
}

.examples__top-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(101%);
  transition: transform var(--duration-timing-function);
}

@media screen and (min-width: 768px) {
  .examples__top-text {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__top-text {
    padding: 63px 24px;
  }
}

.examples__item:hover .examples__top-text {
  transform: translateY(0);
}

.examples__bottom-cover {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) {
  .examples__bottom-cover {
    flex-grow: 1;
  }
}

.examples__item-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.examples__item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*# sourceMappingURL=main.css.map */