.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .container {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__main-contact {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }
}

.footer__part {
  color: #ffffff;
}

.address__list {
  margin-top: 20px;
}

.address__item {
  display: block;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;

  &:last-child {
    margin-bottom: 0;
  }
}

.address__link {
  color: #ffffff;
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);
}

.soc-contact {
  @media screen and (min-width: 768px) {
    margin-left: 125px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.soc-contact__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

.soc-contact__list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.soc-contact__item + .soc-contact__item {
  margin-left: 10px;
}

.soc-contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--duration-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.soc-contact__icon {
  fill: #ffffff;
}
