.team {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: var(--tipical-padding);
    padding-bottom: var(--tipical-padding);
  }

  background-color: #f5f4fa;
}

.team__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }

  // & + & {
  //   @media screen and (min-width: 1200px) {
  //     margin-left: 15px;
  //   }
  // }
}

.team-cover {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #ffffff;
}

.team-cover__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-color);
}

.team-cover__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;

  color: var(--main-text-color);
}

.team-soc__list {
  display: flex;
  justify-content: center;
}

.team-soc__item + .team-soc__item {
  margin-left: 10px;
}

.team-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: fill var(--duration-timing-function),
    background-color var(--duration-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-soc__icon {
  fill: #afb1b8;

  .team-soc__link:hover & {
    fill: #ffffff;
  }
  .team-soc__link:focus & {
    fill: #ffffff;
  }
}
